@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow: hidden;
    display: flex;
}

.navegacion {
    position: relative;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ebebeb;
}

.botones_menu {
    margin-top: 30px;
    color: black;
    display: flex;
    flex-direction: column;
}

.boton_menu {
    list-style: none;
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.boton_menu:hover {
    padding-bottom: 8px;
    transition: all 0.3s ease-in-out;
    transition-delay: 300ms;
}

.boton_menu img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.boton_menu a {
    margin: 0;
    text-decoration: none;
    color: black;
}

.boton_menu a:hover {
    color: rgba(78, 191, 0, 1);
}

.div_logo {
    height: 100px;
}

.logo {
    width: auto;
    height: 90%;
}

/* CUADRO BOTÓN */
.carga {
    border-radius: 5px;
    margin-top: 29px;
    background: linear-gradient(90deg, rgba(78, 191, 0, 1) 0%, rgba(2, 183, 219, 1) 100%);
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    transition: all ease-in-out;
    background-size: 200% 200%;
    background-position: 0% 50%;
    transition: all ease-in-out 300ms;
}

.carga:hover {
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(0, 191, 134) 0%, rgba(2, 183, 219, 1) 100%);
    background-position: 100% 50%;
    width: 90%;
    transition: all ease-in-out 300ms;
}

.material-symbols-outlined {
    color: #ffffff;
    left: -10px;
    position: relative;
}

/* TEXTO DENTRO DEL BOTÓN */
.carga p {
    color: #ffffff;
}

/* ENCABEZADO */

/* PANTALLA PANEL COMPLETA */
.principal {
    width: 100%; /* Ajustar el ancho para que no se superponga con la navegación */
    height: 100vh; /* Ajustar la altura al 100% de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto; /* Permitir el desplazamiento vertical */
    padding: 20px; /* Añadir padding para el contenido */
    animation: fadeIn 1s ease-in-out;

  
}


/* TÍTULO ESTADÍSTICAS */

.titulo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-left: 140px;
    margin-bottom: 20px;
}

/* BARRA DE BÚSQUEDA */
.busqueda {
    display: flex;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
    align-items: center;
}

/* CUADRO DE BÚSQUEDA */
.cuadro_busqueda {
    width: 300px;
    height: 35px;
    margin-right: 30px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 20px;
}

/* BOTONES RADIO */
.radios {
    padding: 15px;
}

/* FILTRO */
.enlace_filtro {
    text-decoration: none;
    color: black;
}

.filtros {
    display: flex;
    padding: 10px;
    border: 1px solid #d1d1d1;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.logo_filtros {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: rgba(78, 191, 0, 1);
    border-radius: 2px;
}

/* PANEL PRINCIPAL */
.panel {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 95%;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    overflow: hidden; 
}
.marcos_panel table {
    width: 100%;
    border-collapse: collapse;
   
    font-size: 1rem;
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.marcos_panel th, .marcos_panel td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.marcos_panel th {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.marcos_panel tr:nth-child(even) {
    background-color: #f9f9f9;
}

.marcos_panel tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.marcos_panel td {
    text-align: center;
    color: #333;
}

.first_row {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
}
/*SEGUNDA FILA*/
.second_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    height: 156PX;
}

.marcos_panel {
    color: rgb(0, 0, 0);
    padding: 0; /* Eliminamos el padding para que la tabla ocupe todo el ancho */
    text-align: center;
    border: 1px solid #ccc;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex: 1;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.para_morosos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    height: 156px;
    
}

.numeros_morosos {
    color: red;
    font-size: 80px;
    text-decoration: none;
}

.panel a {
    text-decoration: none;
}

/* TABLA ULTIMOS PAGOS */
.marcos_panel table {
    width: 100%;
    border-collapse: collapse; 
}

.marcos_panel th,
.marcos_panel td {
    padding: 10px;
    text-align: center;
    border: none;
}

.marcos_panel th {
    font-weight: bold;
    color: black;
    background-color: rgb(241, 241, 241); /* Color de fondo de la cabecera */
}

#publicaciones {
    color: rgb(0, 0, 0);
    padding: 20px;
    
    border: 1px solid #ccc;
    
    border-radius: 5px;
    height: 300px;
    flex: 1;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}


.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    min-height: 300px; /
}

.ck.ck-editor__main > .ck-editor__editable.ck-focused {
    min-height: 400px; }

.boton_publicacion {
    width: 60%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.encabezado_principal {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.caja_titulo {
    width: 100%;
    margin-left: 30px;
    justify-content: flex-end;
}