@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow: hidden; /* Mantener el cuerpo sin scroll */
    display: flex;
}

.navegacion {
    width: 20%;
     /* Ajustar la altura al 100% de la ventana */
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ebebeb;
}

.botones_menu {
    margin-top: 30px;
    color: black;
    display: flex;
    flex-direction: column;
}

.boton_menu {
    list-style: none;
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.boton_menu:hover {
    padding-bottom: 8px;
    transition: all 0.3s ease-in-out;
    transition-delay: 300ms;
}

.boton_menu img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.boton_menu a {
    margin: 0;
    text-decoration: none;
    color: black;
}

.boton_menu a:hover {
    color: rgba(78, 191, 0, 1);
}

.div_logo {
    height: 100px;
}

.logo {
    width: auto;
    height: 90%;
}

/* CUADRO BOTÓN */
.carga {
    border-radius: 5px;
    margin-top: 29px;
    background: linear-gradient(90deg, rgba(78, 191, 0, 1) 0%, rgba(2, 183, 219, 1) 100%);
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    transition: all ease-in-out;
    background-size: 200% 200%;
    background-position: 0% 50%;
    transition: all ease-in-out 300ms;
}

.carga:hover {
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(0, 191, 134) 0%, rgba(2, 183, 219, 1) 100%);
    background-position: 100% 50%;
    width: 90%;
    transition: all ease-in-out 300ms;
}

.material-symbols-outlined {
    color: #ffffff;
    left: -10px;
    position: relative;
}

/* TEXTO DENTRO DEL BOTÓN */
.carga p {
    color: #ffffff;
}

/* ENCABEZADO */

/* PANTALLA PANEL COMPLETA */
.principal {
    width: 100%; /* Ajustar el ancho para que no se superponga con la navegación */
    height: 100vh; /* Ajustar la altura al 100% de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    color: #f44336;
    overflow-y: auto; /* Permitir el desplazamiento vertical */
    
    padding: 20px; /* Añadir padding para el contenido */
}
/* Estilo del formulario */
.carga_pago {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: fadeIn 1s ease-in-out;
}

.carga_pago form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*ESTILO PARA EL INPUT RIF*/
#anadirMiembroForm div {
 display: flex;
 width: 100%;
 
}
#tipo_rif {
    width: 10%;
    font-size: 12px;
}
.carga_pago label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.carga_pago input[type="text"],
.carga_pago input[type="number"],
.carga_pago input[type="date"],
.carga_pago input[type="email"],
.carga_pago input[type="password"],
.carga_pago select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    height: 35px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.carga_pago input[type="text"]:focus,
.carga_pago input[type="number"]:focus,
.carga_pago input[type="date"]:focus,
.carga_pago input[type="email"]:focus,
.carga_pago input[type="password"]:focus,
.carga_pago select:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}





.carga_pago button {
    width: 60%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.carga_pago button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Estilo para el campo RIF/Cédula del Propietario y su botón */


/* Estilo para el nombre del propietario y mensajes */
#nombrePropietario {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #4caf50;
    text-align: center;
}

#resultadoPropietario {
    margin-top: 20px;
    font-size: 16px;
    color: #f44336;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}